.work {
    display: flex;
    flex-wrap: wrap;
}

.workHeading {
    flex-basis:100%;
    border: 1px solid blue;
}

.pageNumber {
    border: 1px solid black;
    width: 20px;
    display: block;
}
