.App {
  padding: 20px;
  border: 1px solid green;
  height: 90vmin;
  /* width: 100vmin; */
}

header {
  border: 1px solid black;
  height:100px;
}

header img {
  border: 1px solid blue;
  width: 250px;
}

main {
  display: flex;
  margin-top: 50px;
}

.scrollMenu {
  border: 1px solid red;
  width: 200px;
  display: inline-block;
}

.details {
  border: 1px solid blue;
  width: 45%;
}

.description {
  border: 1px solid purple;
  width: 55%;
}