.App {
  padding: 20px;
  border: 1px solid green;
  height: 90vmin;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

header {
  border: 1px solid black;
  height:100px;
  flex-basis: 100%;
}

header img {
  border: 1px solid blue;
  width: 250px;
}

nav {
  margin-top: 50px;
}

main {
  display: flex;
  margin-top: 50px;
  flex-grow: 2;
  border: 1px solid green;
}

.scrollMenu {
  border: 1px solid red;
  width: 200px;
  display: inline-block;
}

.mainContainer {
  border: 1px solid blue;
  width: 45%;
}

.sectionDetails {
  border: 1px solid purple;
  width: 55%;
}